{{- if and (eq .Values.networking.type "gateway") .Values.gateway.redirectHttpToHttps -}}
{{- $fullName := include "bullseye.fullname" . -}}
{{- $gatewayName := .Values.gateway.name -}}
{{- $gatewayNamespace := .Values.gateway.namespace | default .Release.Namespace -}}

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}-redirect
  labels:
    {{- include "bullseye.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: {{ $gatewayName }}
      namespace: {{ $gatewayNamespace }}
      sectionName: {{ .Values.gateway.listeners.web }}
  hostnames:
    {{- range .Values.ingress.hosts }}
    - {{ .host | quote }}
    {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
            port: 443
{{- end }}
