name: Helm Publish

on:
  push:
    branches: [ "main" ]
    paths:
      - 'charts/**'
      - '.github/workflows/helm-publish.yml'

env:
  REGISTRY: docker.io

jobs:
  publish-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Package and Push Chart
        run: |
          cd charts
          helm package bullseye
          # OCI Push
          helm push bullseye-*.tgz oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME }}
